
*.h5ad
*.h5
.DS_Store
*.xlsx
figures*
write*
~*
*.svg
.ipynb_checkpoints*
*.joblib
*.prism
toupdate.txt
*.pdf
*.ai
*.zip
*.swp
*.prism
*.rnk

plastic/write/*
plastic/data/*
plastic/figures/*
Marjanovic_et_al_2020/data/*
